body {
    padding: 0;
    margin: 0;
    background: #3f02b1;
}
.navbar {
    background:#3b0c94;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: rgb(176, 140, 218);
}
.navbar-collapse {
    justify-content: flex-start;
}

.header {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(41, 0, 95, 0.6);
    
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
    filter: blur(0px);
}
.description h1 {
	color: #c7b1f1;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
    border:1px solid #7f46b4;
    background:#7046b4;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}